*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}




/* resume.html */
/* pdf */

.pdf-container {
  padding: 30px;
}

iframe {
  width: 100%;
  height: 900px;
}
